*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


.body-index{ 
    padding: 90px 20px 0px;
    background-image: url("../imagenes/Fondo.jpg");
}




.header{
	background-color: #444;
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

}


.nav{
	display: flex;
	justify-content: space-between;

	max-width: 992px;
	margin: 0 auto;
}

.LogoSignUp{

	color: white;
	font-size: 50px;

}


.main{
	width: 100%;
	top: 0;
	left: 0;
}



.mainContainer{
	display: flex;
	list-style: none;
	max-width: 992px;
	justify-content: space-between;
	margin: 0 auto;
	width: max-content;


	

}



.mainList{
	font-size: 18px;
	margin: 150px 60px;
	text-transform: uppercase;
	width: max-content;
	background-color: red;
	width: 450px;
	height: 190px;
	line-height: 150px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 2px 2px 2px #ef5ef5;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpMV3ocUcPTSTkugNWKLEObJ9CyEeJhJkF_kdh_bAmvZtIkE8Almjrr4GuRDB23lMVenM&usqp=CAU");
    cursor: pointer;
	

}

.mainList:hover{
	box-shadow: 1px 2px 2px 2px #444;
}

.mainItem{
	color: white;
	text-decoration: none;

}



.nav-link{
	color: white;
	text-decoration: none;
}




.logo{
	display: flex;
    width: 60px;
	height: 50px;
	border-radius: 15%;
	margin-top: 20px;
	margin-right: 60px;
	box-shadow: 0 2px 1px 2px #222;
	object-fit: cover;
	
}

.nav-menu{
	display: flex;
	margin-right: 40px;
	list-style: none;

}

.nav-menu-item{
	font-size: 18px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase;
	width: max-content;
}


.nav-menu-link{
	padding: 8px 12px;
	border-radius: 3px;
	color: white;
}

.nav-menu-link:hover,
.nav-menu-link_active{
	background-color: #034574;
	transition: 0.5s;
}


.nav-toggle{
	color: white;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;

	display: none;


	
}

.body-login{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpMV3ocUcPTSTkugNWKLEObJ9CyEeJhJkF_kdh_bAmvZtIkE8Almjrr4GuRDB23lMVenM&usqp=CAU");
	font-family: sans-serif;
	padding: 90px 20px 0px;
	
	
}

.main-login{
	display: flex;
}


.mainDiv{
	width: 600px;
	height: 600px;
	background-color: #bbb;
	border-radius: 10px;
	margin:  0 auto;


}

.mainForm{
	display: flex;
	flex-direction: column;
	background-color: rgb(64, 61, 110);
	border-radius: 10px;
	margin: 0 auto;
	
	
	

}

.sesionLabel{
	color: #fff;
	margin: 30px auto;
	font-size: 25px;
	
	
}

.sesionInput{
	width: 300px;
	height: 50px;
	margin: 0 auto;
	
}

.passwordLabel{
	color: #fff;
	margin: 30px auto;
	font-size: 25px;

}

.passwordInput{
	width: 300px;
	height: 50px;
	margin: 0 auto;
}

.registroQuestion{
	display: flex;
	flex-direction: column;
}


.submit-button{
	width: 300px;
	height: 40px;
	margin: 60px auto;
	border-radius: 4px;
	font-size: 15px;
	

}


.registrarseLabel{
	font-family: sans-serif;
	color: #000;
	margin: 35px 10px;
	font-size: 20px;
	
}

.registrarseButton{
	width: 130px;
	height: 40px;
	margin: 0 10px;
	border-radius: 4px;
	font-size: 15px;
}




.registrarseButton:hover{
	color: #fff;
	background-color: #222;
}

.submit-button:hover{
	color: #fff;
	background-color: #222;
}


.footer-login{
	display: flex;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 230px;
	background-color: #444;
	margin:  0 auto;
	justify-content: space-between;
	
}

.footer-h3{
	display: flex;
	color: aliceblue;
	margin-bottom: 20px;
	border: solid #034574;
	border-radius: 3px;
	text-align: center;
}



.footer-List{
	display: flex;
	flex-direction: column;
	font-size: 18px;
	margin: 18px auto;
	list-style: none;
	
}

.listElement{
	margin: 10px 0;
	
}


.footer-item{
	margin-top: 15px;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	
}


.mainDiv2{
	width: 1000px;
	height: 600px;
	margin: 0 120px;
	background-color: rgb(64, 61, 110);
	border-radius: 4px;


}

.main2-image{
	object-fit: contain;
	width: 1000px;
	height: 600px;
}


.errorLabel{
	height: 20px;
}

.error-message{
	background-color: rgb(216, 102, 117);
	color: rgb(112, 15, 15);
	width: 300px;
	height: 60px;
	margin: 10px auto;
	text-align: center;
	line-height: 60px;

}







@media(max-width: 1290px){
	.mainList{
		margin: 60px 35px;
		width: 210px;
	}

	.mainDiv{
		width: 650px;
		height: 350px;
		background-color: #bbb;
		border-radius: 10px;
		margin: 4px 25px;
	
	
	}
	
	.mainForm{
		display: flex;
		flex-direction: column;
		background-color: rgb(64, 61, 110);
		border-radius: 10px;
		margin: 0 auto;
		
		
	
	}
	
	.sesionLabel{
		color: #fff;
		margin: 5px auto;
		font-size: 18px;
		
		
	}
	
	.sesionInput{
		width: 250px;
		height: 35px;
		margin: 0 auto;
		
	}
	
	.passwordLabel{
		color: #fff;
		margin: 15px auto;
		font-size: 18px;
	
	}
	
	.passwordInput{
		width: 250px;
		height: 35px;
		margin: 0 auto;
	}
	
	.registroQuestion{
		display: flex;
		flex-direction: column;
		
	}

	.registrarseLabel{
		font-size: 9px;
	}
	
	
	.submit-button{
		width: 225px;
		height: 30px;
		margin: 40px auto;
		border-radius: 4px;
		font-size: 12px;
		
	
	}
	
	
	.registrarseLabel{
		font-family: sans-serif;
		color: #000;
		margin: 10px 7px;
		font-size: 11px;
		
	}
	
	.registrarseButton{
		width: 80px;
		height: 30px;
		margin: 0 10px;
		border-radius: 4px;
		font-size: 10px;
	}
	
	
	
	
	.registrarseButton:hover{
		color: #fff;
		background-color: #222;
	}
	
	.submit-button:hover{
		color: #fff;
		background-color: #222;
	}
	
	
	.footer-login{
		display: flex;
		bottom: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 145px;
		background-color: #555;
		justify-content: space-between;
		margin: 0 auto;
		
	}
	
	.footer-h3{
		color: aliceblue;
		margin-bottom: 10px;
		border: solid #034574;
		border-radius: 3px;
		text-align: center;
	}
	
	
	
	.footer-List{
		display: flex;
		flex-direction: column;
		font-size: 13px;
		margin: 13px auto;
		list-style: none;
		
	}
	
	.listElement{
		margin: 5px 0;
		
	}
	
	
	.footer-item{
		margin-top: 9px;
		color: white;
		text-decoration: none;
		font-family: sans-serif;
		
	}
	
	
	.mainDiv2{
		width: 800px;
		height: 350px;
		margin: 0 70px;
		background-color: rgb(64, 61, 110);
		border-radius: 4px;
		margin: auto auto;	
	
	}
	
	.main2-image{
		object-fit: contain;
		width: 600px;
		height: 400px;
	}

	.main-login{
		width: 100%;
	}




}

@media(max-width: 786px){
	.mainList{
		display:none;
	}

    body{
        padding: 70px 20px 0;
		
        
    }
	
	.header{
		height:60px;
	}

	.logo{
		width: 40px;
		height: 30px;
		border-radius: 13%;
		margin-top: 15px;
		margin-right: 40px;
		margin-left: 15px;
		
	}

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
       
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left:100%;
        transition: left 0.3s;

    }

    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover{
        background: none;
        color: #5396c5;
    }

	.nav-menu-link_active:hover{
		color: #88b3d1;
		background-color: #034574;

	}

	.nav-menu_visible{
		left: 0;
	}

    .nav-toggle{
        display: block;
    }

	.nav-toggle:focus:not(:focus-visible){
		outline: none;
	}

	



}





