.inProcessItem{
    font-size: 20px;
    line-height: 60px;
    width: 350px;
    height: 60px;
    color: rgb(237, 241, 245);
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/7b/b5/88/7bb5885df4ace76cb7437b191abf4823.jpg");
    border-radius: 4px;
    cursor: pointer;
}

.inProcessMain{
    
    width: 700px;
    min-height: 600px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/494/291/non_2x/dark-black-technology-background-vector.jpg");
}


.mainy{
    display: flex;
    margin-top: 150px;
}

.divEstadistica{
    margin-left: 450px;
}

.inProcessA{
    text-decoration: none;
}

.header1{
	background-color: rgb(65, 127, 172);
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

}

.mainDesign{
    display: flex;
    background-color: black;
    margin: 150px auto;

}
