.mainSignUp{
	display: flex;
}

.mainAdd{
	flex-direction: column;
	margin: 0 auto;
	width: 650px;
	height: 750px;
	background: #444;
	border-radius: 4px;
	;
}



.mainSubAdd1{
	background:rgb(64, 61, 110);
	width: 450px;
	height: 210px;
	margin: 20px auto;
	border-radius: 4px;
	border: solid #222 2.5px

}

.mainSubAdd2{
	width: 450px;
	height: 400px;
	margin: 20px auto;
	border-radius: 4px;

}



.porqueList{
	margin: 20px auto;
	line-height: 20px;
	
}

.porqueReferencia{
	color: white;
	text-decoration: none;
}


.nav-h1{
	color: white;
	text-decoration: none;
    line-height: 80px;
    margin: 0 auto;

}




.registroForm{
	display: flex;
	flex-direction: column;
	background-color: rgb(64, 61, 110);
	border-radius: 10px;
	margin: 0 150px;
    width: 50%;
   
	
	

}




.inputItem{
	width: 300px;
	height: 50px;
	margin: 15px auto;
	
}

.formText{
    font-size: 35px;
    color: #fff;
    margin: 10px auto;

}


.IngresarButton{
    padding: 15px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 40px auto;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}


.IngresarButton:hover{
    background: #00b8eb;
}

.saludoBienvenida{
	color: #fff;
	width: max-content;
	line-height: 80px;
	margin-right: 150px;
}

.logoInicioSession{
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	
}

.Logi{
	line-height: 80px;
	margin-left: 350px;
}


.ListContenedor{
	width: 850px;
	height: 750px;
	background-image: url("https://img.freepik.com/vector-gratis/circuitos-fondo-digital-degradado-azul-rojo_23-2148821701.jpg?w=1380&t=st=1648156180~exp=1648156780~hmac=810047890cc268f839dee7350c21f5ac31ea9016612600b46cd9369795066293");
	margin: 200px 150px;
	list-style: none;
	border-radius: 5px;
}



.publicistaContainer{
	width: 660px;
	height: 850px;
	background-image: url("https://img.freepik.com/vector-gratis/circuitos-fondo-digital-degradado-azul-rojo_23-2148821701.jpg?w=1380&t=st=1648156180~exp=1648156780~hmac=810047890cc268f839dee7350c21f5ac31ea9016612600b46cd9369795066293");
    border-radius: 5px;
}

.perfiModi{
	color: #fff;
	line-height: 80px;
	cursor: pointer;


}

.divPrincipal{
	display: flex;
	background: rgb(128, 97, 97);
	background-image: url("../imagenes/Fondo.jpg");

}

.referencia{
	text-decoration: none;
}




.ListReferencia{
	
	color: #fff;
	width: 450px;
	height: 100px;
	background: rgb(207, 194, 171);
	background-image: url("https://i.pinimg.com/originals/7b/b5/88/7bb5885df4ace76cb7437b191abf4823.jpg");
	margin: 20px auto;
	text-align: center;
	line-height: 100px;
	border-radius: 4px;
	font-size: 20px;
	box-shadow: 2px 3px 2px 3px rgba(0, 0, 0);



}

.ListReferencia:hover{
	box-shadow: 4px 2px 4px 2px #444;
	color: rgb(228, 224, 224);
}



.mainSubAdd2{
	background-image: url("https://conceptodefinicion.de/wp-content/uploads/2015/09/relajacion-e1441988417264.jpg");
}

.createProyectMain{
	display: block;

}

.createProyectForm{
	display: flex;
	flex-direction: column;
	margin: 110px auto;
	padding: 45px auto;
	line-height: 80px;
	width: 50%;
	border-radius: 3px;
	background-color: #fff;
	background-image: url("https://img.freepik.com/vector-gratis/fondo-tecnologia-blanca_23-2148403783.jpg?w=2000");
	
}

.createProyectLabel{
	color: #1c1c1f;
	font-size: 19px;
	margin: 10px 15px;
}
.craateProyectInput{
	height: 60px;
	border-radius: 4px;
}

.next1{
    padding: 10px;
    color: #fff;
    background: #3f7185;
    width: 320px;
    margin: 45px auto;
    border: 0;
    border-radius: 3px;
    cursor: pointer;

	
}



.next2{
    padding: 10px;
    color: #fff;
    background: #3f7185;
    width: 250px;
    margin: 45px auto;
    border: 0;
    border-radius: 3px;
	left: 85%;
    cursor: pointer;
	
}

.previous1{
    padding: 10px;
    color: #fff;
    background: #3f7185;
    width: 250px;
    margin: 45px auto;
    border: 0;
    border-radius: 3px;
	left: 15%;
    cursor: pointer;
}

.previous2{
    padding: 10px;
    color: #fff;
    background: #3f7185;
    width: 250px;
    margin: 45px auto;
    border: 0;
    border-radius: 3px;
	left: 15%;
    cursor: pointer;
}


.submit1{
    padding: 10px;
    color: #fff;
    background: #46f115;
    width: 250px;
    margin: 45px auto;
    border: 0;
    border-radius: 3px;
	left: 85%;
    cursor: pointer;
}

.next1[value="Siguiente"]{
	font-size: 22px;
}

.submit1[value="Crear Proyecto"]{
	font-size: 20px;
}



.next2[value="Siguiente"]{
	font-size: 20px;
}

.previous1{
	font-size: 20px;
}

.previous2{
	font-size: 20px;
}

.circles{
	display: flex;
	margin:20px auto;

}

.fa-circle{
	margin-left: 10px;
	width: 10px;
	height: 10px;
	cursor: pointer;

}

.notVisible{
	display: none;
	left: 100;
	transition: left 1s;
}

.visible{
	display: flex;
	flex-direction: column;
	left: 0;
	
	
}

.buttonVisible{
	display: flex;
}


.buttonNotVisible{
	display: none;
}

